@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #25364a;
    background-color: #ffff;
}

#header {
    padding-top: 1rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 4%);
    background-color: #ffff;
}

.projects {
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    justify-content: center;
    text-align: center;
    background-color: #fafafa;
}

#project-title {
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

#all-projects {
    background-color: #fafafa;
    margin-bottom: 40px;

}

.project a img {
    border: 0.1px solid #707070;
    width: 400px;
}

.project h4 {
    padding: 10px 20px 0px 20px;

}

.project p {
    padding: 0px 20px 40px 20px;
}

@media (min-width: 600px) {
    .projects {
        max-width: 600px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .projects {
        max-width: 600px;
        grid-template-columns: repeat(2, 1fr);
    }
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

#header .container {
    display: flex;
}

#logo {
    float: left;
}

#logo a img {
    width: 50px;
    height: 50px;
    text-align: right;
}

a {
    text-decoration: none;
}

#logo a h1 {
    color: #707070;
    font-size: 20px;
    font-weight: 700;
    padding: 12px 15px;
}

#logo_head {
    display: flex;
}

.navigation {
    float: right !important;
    padding-left: 90px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation>ul>li {
    position: relative;
    white-space: nowrap;
    float: left;
    padding: 12px 15px;
}

.navigation>ul>li a {
    font-family: 'Poppins',
        sans-serif;
    font-size: 18px;
    color: #707070;
    font-weight: 400;
}

#banner {
    display: flex;
    justify-content: center;
    width: 70%;
    margin-top: 100px;
    background-color: #ffff;
    height: 400px;
}

#banner .image-block img {
    border: 3px solid #22AAE2;
    /* #0693e3 */
    border-radius: 50%;
    width: 100%;
    height: 200px;
    max-width: 200px;
    margin-top: 80px;

}

#banner .text-block {
    padding: 20px 20px 20px 20px;
    width: 600px;
    margin-top: 80px;

}

#banner .text-block h1 {
    font-size: 35px;
    font-weight: 600;
}

#banner .text-block h1 span {
    color: #22AAE2;
    font-weight: 700;
}

.icons a i {
    margin-top: 20px;
    padding: 0px 10px 0px 0px;
}

.icons a .fab {
    font-size: 30px;
    color: #707070;
}

.icons a .fa {
    font-size: 30px;
    color: #707070;
}

#projects {
    background-color: #fafafa;
}

#project-block .project a img {
    border: 0.1px solid #707070;
}

#contact {
    width: 100%;
    margin-top: 100px;
    background-color: #ffff;
}

.contact-title {
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact-image img {
    width: 300px;
    height: 300px;
    text-align: right;
    border-radius: 10px;
}

.contact-details #details {
    width: 500px;
    padding: 20px;
}

.contact-details .icons {
    padding-left: 20px;
}

.c-details p {
    display: block;
    padding-left: 20px;
}

.c-details p .fa {
    font-size: 15px;
    color: #707070;
}

.footer-desc {
    padding-top: 40px;
    padding-bottom: 40px;
}

#footer {
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 120px;
    background-color: #fafafa;
    height: 100px;

}

#footer-details {
    text-align: center;
}

.footer-desc #copyright {
    font-weight: bold;
}

/* iphone,samsung and other small screens */
@media (max-width:480px) {
    .navigation {
        display: none;
    }

    #banner {
        display: block;
        background-color: #ffff;
    }

    #banner .image-block img {
        border: 3px solid #22AAE2;
        /* #0693e3 */
        border-radius: 50%;
        width: 100%;
        height: 200px;
        max-width: 200px;
        margin-top: 80px;

    }

    #title {
        padding-top: 1rem;
        font-size: 25px;
        font-weight: 200;
        color: #007bff;
    }

    #description {
        color: #6c757d !important;
        font-size: 16px;
    }

    #projects {
        display: flex;
        justify-content: center;
        width: 70%;
        margin-top: 100px;
        background-color: #ffff;
    }

    #project-block .project a img {
        border: 0.1px solid #707070;
        width: 100px;
    }
}

/* bigger than iphones */
@media (max-width:768px) {
    .navigation {
        display: none;
    }

    #banner .image-block img {
        border: 3px solid #22AAE2;
        /* #0693e3 */
        border-radius: 50%;
        width: 100%;
        height: 200px;
        max-width: 200px;
        margin-top: 80px;

    }

    #survey-form {
        color: white;
        width: 90%;
        padding-bottom: 3rem;
    }
}

/* ipads,tablets etc */
@media (max-width:1200px) {
    .navigation {
        display: none;
    }

    #banner {
        display: block;
        background-color: #ffff;
        justify-content: center;
        text-align: center;
        margin-bottom: 150px;
    }

    #banner .image-block img {
        border: 1px solid #000;
        /* #0693e3 */
        border-radius: 50%;
        width: 100%;
        margin-top: 30px;
    }

    #banner .text-block {
        padding: 10px 10px 10px 10px;
        width: 100%;
        margin-top: 20px;
        justify-content: center;
        text-align: center;

    }

    #banner .text-block h1 {
        font-size: 25px;
        font-weight: 600;
    }

    #banner .text-block h1 span {
        color: #22AAE2;
        font-weight: 700;
    }

    #project-block {
        padding: 0px 10px 10px 10px;
        width: 100%;
        margin-top: 20px;
        justify-content: center;
        display: block;
    }

    .project-title {
        padding-top: 40px;
    }

    #contact {
        width: 90%;
        display: block;
        background-color: #ffff;
        justify-content: center;
        text-align: left;
        margin: 20px;
    }

    .contact-image img {
        display: none;
    }

    .contact-details #details {
        width: 500px;
        padding: 20px;
    }

    #details {
        display: none;
    }

    .contact-details .icons {
        margin-left: 40px;
    }
}